@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hides scrollbar in Firefox */
.tabs-container::-webkit-scrollbar {
  display: none;
}
.tabs-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
